.App {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  width: 100px;
  height: 100px;
}

.card-front {
  width: 100px;
  height: 100px;
}

.card-back {
  width: 100px;
  height: 100px;
}

.red-back {
  background-color: red;
}