.App {
  text-align: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card {
  width: 100px;
  height: 100px;
}

.card-front {
  width: 100px;
  height: 100px;
}

.card-back {
  width: 100px;
  height: 100px;
}

.red-back {
  background-color: red;
}